.sidebar-expanded {
    width: 250px !important;
    transition: width 0.3s ease;
}

.sidebar-collapsed {
    width: 0px !important;
    transition: width 0.3s ease;
    overflow-x: hidden;
}

.sidebar-wrapper {
    height: 100vh;
    flex-shrink: 0;
    background-color: var(--bs-body-bg);
    border-right: 1px solid var(--bs-border-color);
    display: flex;
    flex-direction: column;
}
