@inherits LayoutComponentBase
@inject NavMenuStateService NavState

<div class="d-flex min-vh-100">
    <div class="@SidebarCssClass bg-body d-flex flex-column flex-shrink-0" style="width: 250px; height: 100vh;">
        <div class="p-3 border-end flex-grow-1 position-relative overflow-auto">
            <h5 class="mb-4"><a href="/" class="text-decoration-none">Dashboard</a></h5>
            <NavMenu />
        </div>
    </div>

    <div class="flex-grow-1 d-flex flex-column">
        <header class="p-2 border-bottom d-flex align-items-center justify-content-between">
            <SidebarButton />

            <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
                @* <li class="nav-item">
                    <GitHubSourceLink />
                </li> *@
                <li class="nav-item dropdown">
                    <CultureSwitcher />
                </li>
                <li class="nav-item dropdown">
                    <ThemeSwitcher />
                </li>
            </ul>
        </header>
        <main class="p-4 flex-grow-1 overflow-auto">
            @Body
        </main>
    </div>
</div>

@code {
    private string? SidebarCssClass => NavState.IsCollapsed ? "d-block sidebar-expanded" : "d-block sidebar-collapsed";

    protected override async Task OnInitializedAsync()
    {
        await NavState.InitializeAsync();
        NavState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        NavState.OnChange -= StateHasChanged;
    }
}
