<nav class="nav flex-column">
    @* <a class="nav-link" href="/"><span class="bi bi-house-fill me-1" aria-hidden="true"></span> Home</a> *@
    @* <a class="nav-link" href="counter"><span class="bi bi-chevron-right me-1" aria-hidden="true"></span> Counter</a> *@
    @* <a class="nav-link" href="weather"><span class="bi bi-chevron-right me-1" aria-hidden="true"></span> Weather</a> *@
    <div class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#menu1" role="button" aria-expanded="false" aria-controls="menu1">
            <span class="bi bi-chevron-right me-1" aria-hidden="true"></span> Menu
        </a>
        <div class="collapse ps-3" id="menu1">
            <a class="nav-link" href="counter"><span class="bi bi-chevron-right me-1" aria-hidden="true"></span> Counter</a>
            <a class="nav-link" href="weather"><span class="bi bi-chevron-right me-1" aria-hidden="true"></span> Weather</a>
        </div>
    </div>
</nav>